
<h2>Beta 0.2.4 Update Notes</h2>

<p>Greetings friends, supporters, and tabletop enthusiasts! I've got yet another Foundry VTT version ready to go - <code>0.2.4</code> includes some pretty exciting improvements for a variety of systems as well as a couple of new features that continue building upon that strong foundation. Key highlights in the new version include <strong>video background</strong> support, <strong>fog of war</strong> performance improvements, redesigned <strong>dice roll tooltips</strong>, and more. This update is available immediately for Council tier supporters and will be made available on Thursday, March 22 for beta tier supporters!</p>

<p>In addition to these more significant features, this update also includes a large number of smaller features, bug fixes, and enhancements. I'm really excited about the continued progress for this software and motivated by the support and encouragement of the community. Thank you all for appreciating my work, providing thoughtful feedback, and encouraging me to do even more. As always, please keep an eye on the development progress board here for visibility into what features are in progress and coming up next!</p>

<p><a href="https://gitlab.com/foundrynet/foundryvtt/boards" target="_blank" title="FVTT Story Board">https://gitlab.com/foundrynet/foundryvtt/boards</a></p>
<hr/>

<h3>New Features</h3>
<ul>
	<li>Added support for <strong>dynamic background images</strong> for Scenes. You may now use video files for a range of supported formats (.mp4, .webm, .mpeg, .ogg) as the background image for a Scene. Be sure to check out the new Development Video Update for some examples of video backgrounds in action. For background videos which include an audio track, the volume level of that audio is controlled using the Global Ambient Volume slider.</li>
	<li>The fog of war rendering logic has been rebuilt to incorporate a similar shadow-map approach to the performance improvements added for the light layer in version <code>0.2.2</code>. This change has improved fog of war rendering time and reduced the size of the fog of war data that is saved to local storage. While I have attempted to preserve backwards compatibility with this change, it has not yet been broadly tested. If you experience any issues with re-loading fog of war under 0.2.4 you may have to reset the fog and lose your prior exploration of a Scene. Sorry about this, but it's beta and the new fog performance should be worth the trouble!</li>
	<li>The opacity and darkness of different lighting and fog levels have been re-balanced slightly to provide more contrast between dim light, explored fog without light, and unexplored darkness.</li>
	<li>Dice roll tooltips in chat have been redesigned to be more expansive, informative, and easy on the eyes. See the above screenshot for an example of the new dice roll tooltip display. Previously tooltips were shown for individual dice groups on hover, now a combined tooltip will is toggled for the whole roll by left-clicking on the dice roll in the chat panel.</li>
	<li>Now when rolling a dice formula which keeps or discards dice, the Die will keep track of which results were discarded so that they may be visually rendered for more intuitive dice roll tooltips.</li>
	<li>Added support for Fate/Fudge dice using the syntax <code>/r ndF</code> which would roll <code>n</code> 3 sided dice which correspond to results of -1, 0, and 1. The tooltip for fate/fudge dice has been adjusted to report these results using conventional plus and minus signs.</li>
	<li>Added and improved support for count-success and margin-of-success dice rolls. Count success will count the number of dice which satisfy a certain condition using the example syntax <code>/r 6d6cs>3</code> to roll six 6-sided dice and count the number which roll 4 or higher. Margin of success will compare the total of a roll to some fixed number and report the difference as the result. For example <code>/r 6d6ms>10</code> would roll six 6-sided dice and return the total minus 10. For further examples of these new dice rolling options please see: http://foundryvtt.com/pages/dice.html</li>
	<li>The Compendium sidebar tab has been split into separate sections per Entity type. Compendium packs within each section are now sorted alphabetically for a more consistent and intuitive user experience.</li>
	<li>The conditions required for a Token to be revealed to a player based on their field of vision have been changed. Previously the center of a token's square was required to be visible in order for the token to be revealed. This caused some awkard cases where a player could see most of the token's square but no token was visible in that space. Now tokens will be shown if any portion of their space is visible to the player. I'll collect feedback on this change and evaluate the need for further adjustments in the future.</li>
	<li>The right-click context menu for Actors and Items have a new option to quickly duplicate the entry, copying its data to a new version of the same Actor or Item.</li>
	<li>Placeable Tiles may now be copied and pasted using a CTRL+C and CTRL+V workflow to rapidly create several versions of the same tile in a Scene.</li>
	<li>Placeable Tiles can now be hidden from players similarly to how Token visibility is controlled. While having a Tile selected, a control icon at the top-right of the tile can toggle it's visible state.</li>
	<li>Added a search/filter bar to the File Picker UI which now allows you to filter to the subset of files or folders which contain a search string. For example, filtering for "human" would limit the set of files shown in the picker to those which contain "human" in their name.</li>
</ul>
<hr/>

<h3>Core Bug Fixes</h3>
<ul>
	<li>Resolved a defect with ruler-measurement which prevented CTRL from correctly activating the measurement tool when hovering on a Token.</li>
	<li>Fixed a bug with level-3 folders which caused them to automatically and incorrectly collapse when an entity was moved in or out of them.</li>
	<li>As a result of the dice rolling refactor discussed in the following section, a bug was fixed which caused the order of operations of dice roll modifiers to not be respected under certain circumstances.</li>
	<li>Improved the logic used to detect whether hardware acceleration and WebGL rendering is supported to more accurately display an error message when required conditions are not present.</li>
	<li>Adjust the display of file names in the file-picker to avoid wrapping onto multiple lines for very long filenames.</li>
	<li>Corrected a bug with the new "bulk add/remove" combat controls that could result in duplicated entries being added to the tracker for the same Token.</li>
	<li>The "End Combat" button was not propagating this change in combat state to the control icons for all controlled tokens. This should now be improved, ending combat in the tracker should update the icon display for any tokens active on the board.</li>
	<li>Fixed a loophole which allowed players to drag and drop tokens to move then while the game was paused.</li>
	<li>Improved the height detection for the TinyMCE editor with Scene notes.</li>
	<li>Fixed a bug which prevented the TokenLayer from showing a "shadow" version of a token in its original position when that token is being dragged to a new location.</li>
	<li>Resolved a case that could cause users to be unable to choose their user account at the join menu as the system incorrectly believed that user was still active within the game world.</li>
	<li>Adjusted the logic which controlled whether the user can navigate to the "Update Software" menu - this is now allowed if there is no active World running on the server. Previously the user would need to first start a world before being able to update.</li>
	<li>Fixed a edge case bug which caused visual artifacts if the user was in the middle of a workflow to place a token, wall, light source, or other placeable object when they change the active canvas tool.</li>
</ul>
<hr/>

<h3>Core Software, APIs, and Module Development</h3>
<ul>
	<li>Improved the loading experience for scenes by adding an up-front parallelized resource loader which acquires and caches all the primary textures needed to render a Scene. This generally results in faster load times for players and eliminates the "pop-in" where a scene background may have loaded before the tokens represented in that scene are available.</li>
	<li>Chat messages often contain dice roll data - during the early versions of FVTT the design decision was simply to convert that dice data to a HTML representation and save the HTML as the message for the roll. In retrospect this was not a great design choice as it prevents downstream users of the message from rendering additional UIs or providing functionalities which depend on the actual Roll result. Starting in 0.2.4, dice roll data is saved to the database as part of the chat message which generated it.</li>
	<li>The dice rolling systems and APIs have experienced and extensive re-build. The underlying randomization remains the same, but the interfaces and abstractions around dice rolls have been overhauled. Be sure to check the updated API documentation for the <code>Die</code> and <code>Roll</code> classes for more details: http://foundryvtt.com/pages/api/dice.html.</li>
	<li>The <code>Roll</code> class can now be exported to JSON and re-loaded from it's serialized representation using <code>Roll.fromJSON(data)</code>.</li>
	<li>Added a <code>Compendium.create(metadata)</code> method for creating world-level compendium packs programmatically.</li>
</ul>
<hr/>

<h3>D&D5e System Improvements</h3>
<ul>
	<li>Completed the D&D5e SRD Spells compendium which now contains meticulously prepared spell entries for all spells in the SRD!</li>
	<li>Fixed an incorrect assumption with the diagonal movement rule from the Dungeon Master's Guide. Previously diagonal movement was cycling as 5/10/5/5/10/5 when the correct behavior should instead be 5/10/5/10/5/10.</li>
	<li>Corrected errors in the experience granted by challenge rating. Previously there were gaps in this forumla with some incorrect entries at certain CRs.</li>
	<li>Fixed an issue with fractional CR monsters on the character sheet where entering the CR as a fraction string (e.g "1/8") was not saving correctly.</li>
</ul>
<hr/>
